<!DOCTYPE html>

<script>
    //쿠키설정
    function setCookie(name, value, expiredays) {
        var todayDate = new Date();
        todayDate.setDate(todayDate.getDate() + expiredays);
        document.cookie = name + '=' + escape(value) + '; path=/; expires=' + todayDate.toGMTString() + ';'
    }

    // 쿠키 불러오기
    function getCookie(name) {
        var obj = name + "=";
        var x = 0;
        while (x <= document.cookie.length) {
            var y = (x + obj.length);
            if (document.cookie.substring(x, y) == obj) {
                if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                    endOfCookie = document.cookie.length;
                return unescape(document.cookie.substring(y, endOfCookie));
            }
            x = document.cookie.indexOf(" ", x) + 1;

            if (x == 0) break;
        }
        return "";
    }

    // 닫기 버튼 클릭시
    function closeWin(key) {
        var todaycloseyn = document.getElementById("todaycloseyn");
        if (todaycloseyn.checked) {
            setCookie('divpop' + key, 'Y', 1);
            window.close();
        }
    }

</script>

<body>

<div>
    <a href="#" target="_parent" onclick="move()">
        <img src="css/images/pop.jpg" alt="pop">
    </a>



    <div class="button_area">
        <input type="checkbox" id="todaycloseyn" value="Y"> 오늘 하루 이 창을 열지 않습니다.
        <a href='#' onclick="closeWin(1);"><button>닫기</button></a>
    </div>
</div>


<script>
    function move() {
        opener.move();
        self.close();
    }
</script>

</body>

</html>