<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>액상</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container text-center">
        <div class="row row-cols-5">
            <th:block th:each="item : ${items}">
                <div class="col">
                    <div class="card">
                        <a th:href="'/item/'+${item.id}" class="text-dark">
                            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                            <div class="card-body">
                                <h4 class="card-title">[[${item.itemNm}]]</h4>
                                <h3 class="card-title">[[${item.price}]]</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
