<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>VapeWorld</title>
</head>
<div layout:fragment="content">
<body>
    메인화면입니다.
    <a href="/members/new">회원가입</a>
    <a href="/members/login">로그인</a>
    <a href="/members/consent">이용약관</a>

    <div class="logo">
        <a href="/">
            <img th:src="@{/css/images/logo.png}" alt="logo">
        </a>
    </div>
</body>
</div>
</html>
